<p>{“content”=&gt;”{{ page }}\n\n&lt;iframe src="{{ site.baseurl }}/assets/resume.pdf" style="width: 100%; height: 100%;"&gt;”, “dir”=&gt;”/”, “name”=&gt;”iframe-resume.md”, “path”=&gt;”iframe-resume.md”, “url”=&gt;”/iframe-resume.html”}</p>

<iframe src="/portfolio/assets/resume.pdf" style="width: 100%; height: 100%;">
</iframe>
